body {
  min-height: 5000px;
}

.jumbotron {
  padding: 1rem 2rem;
  background-color: rgb(147, 193, 214);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

.map {
  padding: 4rem 5rem;
  background-color: rgb(208, 212, 216);
}

.maps {
  background-color: gray;
  padding: 2rem 3rem;
}
